.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

.menuItems {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 18px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px 6px;
  padding: 0.5rem;
  font-size: 1rem;
  overflow: auto;
  white-space: nowrap;
  background-color: white;
}

.menuItems h3 {
  cursor: pointer;
  color: #383838;
  display: inline-block;
  text-align: center;
  margin: 14px;
  font-weight: 500;
}

.menuItemsClicked {
  color: black !important;
  font-weight: 700 !important;
  border-bottom: solid 2px black;
}

.search {
  position: absolute;
  top: 155px;
  left: 20px;
  right: 20px;
}

.search fix-search {
  position: fixed;
  top: 10px;
  width: 250px;
}