.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.meal2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10%;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.imageFood {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  object-fit: cover;
}

.quantifyButton {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #04353d;
  border: 1px solid #04353d;
  min-width: 2.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.actions {
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

.actions button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #04353d;
  border: 1px solid #04353d;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #04353d;
}

.actions .button {
  background-color: #04353d;
  color: white;
}

.textInside {
  font-size: 1.8rem;
  margin: auto;
  margin: 1rem;
  font-weight: 500;
  color: #383838;
}

.form {
  text-align: center;
  margin-bottom: 8%;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #04353d;
  border: 1px solid #04353d;
  color: white;
  padding: 0.3rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 0.5rem;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}