.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 25rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;

}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #04353d;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

@media (max-width: 335px) {
  .actions button {
    margin-bottom: 1rem;
  }
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #04353d;
}

.actions .button {
  background-color: #04353d;
  color: white;
}

.success-modal {
  text-align: center;
}

.success-modal h1 {
  font-size: 2rem;
}

.filter-green {
  filter: invert(45%) sepia(10%) saturate(2495%) hue-rotate(142deg) brightness(87%) contrast(83%);
}